* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

a, button {
    cursor: pointer;
}

.visible {
    display: block;
}

.hidden {
    display: none !important;
}

.erro {
    color: red !important;
    font-size: 14px;
}

.inputError {
    border-color: red !important;
}